@model  IEnumerable<SoruBankasi.Models.KullaniciDers>
<div>
    <h4>Size Atanan Dersler</h4>
    <hr />

    @foreach (var item in Model)
    {
        <p>
            @item.Ders.DersAdi
        </p>
    }
</div>
